.vscode
.env
node_modules/
dist/
build/
*.log
.firebaserc
firebase.json
.firebase
database.rules.json
todos.txt

## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/